@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--homepage-testimonial-body-color);
  margin: 0;
  padding: 0;
}
.testimonials {
    display:flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;


}
.card {
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 100px 0 100px 0;
  box-shadow: 5px 5px 10px var(--homepage-testimonial-card-box-shadow-color);
  width: 30%;
  max-width: 350px;
  margin: 1rem auto;
  background: var(--homepage-testimonial-card-bg-color);
  transition: transform 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  background: var(--homepage-testimonial-card-hover-bg-color);
  transform: scale(1.05);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 25px var(--homepage-testimonial-card-hover-shadow)
}


.card__img {
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
}

.card_content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.card__content span i {
  font-size: 2rem;
  color: var(--homepage-testimonial-card-content-colorr);
}

.card__details p {
  font-style: italic;
  color: var(--homepage-testimonial-card-font-color-p);
  margin-bottom: 0.5rem;
}

.card__details h6 {
  color: var(--homepage-testimonial-card-font-color-h6);
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

/* Optional container if used in parent layout */
.container {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.container__left h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--homepage-testimonial-container-h1-color);
}

.container__left button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, var(--homepage-testimonial-container-button-bg-color), var(--homepage-testimonial-container-button-bg-color-one));
  color: var(--homepage-testimonial-container-button-font-color);
  font-size: 1rem;
  cursor: pointer;
}

.container__right {
  display: grid;
  gap: 2rem;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .container {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container__right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .container__right {
    grid-template-columns: 1fr;
  }

  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card__img {
    margin-bottom: 1rem;
  }

  .card_content {
    align-items: center;
  }
}
